{% block stylesheets %}   
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="container">    
    <br> 
    <div class="row">
        <div class="col-sm-12">
         User deleted successfully    
        </div>
    </div>
    <br>  
    <div class="row">
        <div class="col-sm-12">
        <button type="button" class="btn btn-primary">     
            <a href="{{ path('userlist')}}" style="color:white;">User list</a>
        </button>     
        </div>
    </div>
 </div>  
{% endblock %}